<div class="w-1/2 border rounded p-4 mb-4">
  <div class="flex justify-between mb-2">
    <h3 class="font-semibold"><%= @panel.text %></h3>
    <h3 class="font-semibold"><%= @panel.image_prompt %></h3>
  </div>
</div>
