<div class="container mx-auto mt-8" onmousemove="window.coordinate(event)">
  <button
    phx-hook="SaveText"
    id="saveTextBtn"
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
  >
    Save
  </button>
  <div phx-hook="LoadTextEditor" data-initial-content={@project.notes} id="textEditor"></div>
</div>
